<div class="modal fade" id="myModal-<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="username_big"><%= item.caption.from.username %></h4>
          <%= image_tag item.user.profile_picture, height:'60', width:'60', class:"profile-pic-medium" %>
      </div>
      <div class="modal-body">
        <hr class="star-primary">
        <img src="<%= item.images.standard_resolution.url %>" class="img-responsive img-centered" alt="">
        <div class="large-4 columns">
          <p id="likes"><%= item.likes["count"] %> likes</p>
          <div id="comments">
          <% item.comments.data.each do |comment| %>
          <strong id="username"><%= comment.from.username %></strong>  <%= comment.text %><br>
          <% end %>
        </div>
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
      </div>
    </div>
  </div>
</div>
