
<header class="intro dashboard">
  <div class="intro-body">
    <p class="intro-text" id="welcome">Welcome back, <%= current_user.username %><br></p>
  </div>
</header>

<div class="pictures">
  <div class="container">
  <div class="row">
  <% current_client.user_recent_media.each do |item| %>
    <div class="col">
      <%= image_tag item.images.thumbnail.url%>
      <%= link_to "Like", " /like/#{item.id}" %><br>
      <%= link_to "Un-Like", "/unlike/#{item.id}" %><br>
      Likes: <%= item.likes[:count] %>
    </div>
  <% end %>
  </div>
</div>
</div>
