<header id="feed-back">
</header>
<div class="container-feed ">
  <div id="search">
    <%= render partial: "partials/search"%>
  </div>
  <%= will_paginate @posts %>
  <div class="row">
    <% @posts.each do |item| %>
    <% if item.caption %>
    <div class="col">
      <ul id="thumbnail">
        <button data-toggle="modal" data-target="#myModal-<%=item.id%>">
          <li id="image"><%= image_tag item.images.low_resolution.url%></li>
          <li>Likes: <%= item.likes[:count] %></li>
        </button>
      </ul>
    </div>
    <%= render partial: "partials/modal", locals: {item: item}%>
    <% end %>
    <% end %>
  </div>
</div>
